<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Title}"></title>
</head>
<body>
<div class="page-header text-center">
    <h4><a th:href="@{'/tasks'}" th:text="#{Header}"></a></h4>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" th:text="#{Detail} + ' ' + (${task.getTitle()})"></div>
        <div class="panel-body text-center">
            <div th:text="#{LabelTitle} + ': '+(*{task.getTitle()})" class="row"></div>
            <div th:text="#{LabelDescription} + ': ' + (*{task.getDescription()})" class="row"></div>
            <div th:text="#{LabelDue} + ': ' + (*{task.getFormattedDate()})" class="row"></div>
        </div>
    </div>
</div>
<div th:if="${!task.getSubTasks().isEmpty()}" th:each="subTask : ${task.getSubTasks()}" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" th:text="#{SubTask} + ': ' + (${subTask.getTitle()})"></div>
        <div class="panel-body text-center">
            <div th:text="#{LabelDescription} + ': ' + (*{subTask.getDescription()})" class="row"></div>
            <div><a th:href="@{'/tasks/' + ${task.getID()} + '/sub/remove/' + ${subTask.getID()}}" th:text="#{Remove}"></a></div>
        </div>
    </div>
</div>
<form method="post" th:action="@{'/tasks/' + ${task.getID()} + '/sub/create'}" th:object="${subTaskDTO}">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" th:text="#{AddSubTask}"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="title" th:text="#{LabelTitle}"></label>
                            <input type="text" class="form-control" name="title" id="title" th:field="*{title}">
                        </div>
                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="description" th:text="#{LabelDescription}"></label>
                            <input type="text" class="form-control" name="description" id="description" th:field="*{description}">
                        </div>
                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" th:value="#{Submit}">
            </div>
        </div>
    </div>
</form>
<div th:replace="language.html"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</html>
